/* Global resets so the app can size to viewport without scrollbars */
html, body {
	height: 100%;
	margin: 0;
}
*, *::before, *::after { box-sizing: border-box }

@import "leaflet/dist/leaflet.css";
